.Button{
    -fx-background-color: transparent;
    -fx-font-size: 10px;
    -fx-font-family: Impact;
    -fx-text-fill: white;
    -fx-content-display: center;
    -fx-padding: 0;
}

.Button:hover{
    -fx-text-fill: #fbc2c2;
}

#exitBtn{
    -fx-font-size: 15px;
    -fx-text-fill: white;
}

#exitBtn:hover{
    -fx-font-size: 18px;
    -fx-text-fill: #fbc2c2;
}

#playBtn{
    -fx-font-size: 25px;
}

#playBtn{
    -fx-font-size: 30px;
}

#playBtn:hover{
    -fx-font-size: 35px;
}

#saveBtn{
    -fx-font-size: 15px;
}

#saveBtn:hover{
    -fx-font-size: 20px;
}

#goBackBtn{
    -fx-font-size: 15px;
}
#goBackBtn:hover{
    -fx-font-size: 17px;
}

#gameTitle{
    -fx-font-size: 70px;
    -fx-font-family: Impact;
    -fx-alignment: center;
    -fx-text-fill: white;
}

.algo3CornerMsg{
    -fx-text-fill: white;
    -fx-font-size: 10px;
}

.GeneralBackground{
    -fx-background-color: black;
}

#shopTitle{
    -fx-font-size: 100px;
    -fx-font-family: Impact;
    -fx-text-fill: white ;
    -fx-alignment: center;
}

.tarotCard{
    -fx-border-color: white;
    -fx-background-color: white;
}

/* Estilo base para el contenedor de cartas */
.cards-container {
    -fx-padding: 10;
    -fx-hgap: 10;
    -fx-vgap: 10;
}

/* Estilo para todas las cartas */
.cards-container ImageView {
    -fx-fit-width: 100;
    -fx-fit-height: 150;
    -fx-preserve-ratio: true;
}

/* Estilo para el StackPane contenedor de cada carta */
.card-container {
    -fx-min-width: 100;
    -fx-min-height: 150;
    -fx-pref-width: 100;
    -fx-pref-height: 150;
    -fx-max-width: 100;
    -fx-max-height: 150;
    -fx-alignment: center;
}

/* Opcional: Estilo para cartas seleccionadas */
.selected-card {
    -fx-effect: dropshadow(gaussian, rgba(255, 0, 0, 0.5), 15, 0, 0, 0);
    -fx-animation: blink 1s infinite;
    -fx-border-color: gold;
    -fx-border-width: 2px;

}

/* Opcional: Estilo para hover */
.hover-effect {
    -fx-effect: dropshadow(gaussian, rgba(255, 0, 0, 0.3), 10, 0, 0, 0);
}

.prepare-for-tarot {
    -fx-animation: blink 1s infinite;
    -fx-border-color: gold;
    -fx-border-width: 2px;
}
/* Estilo para una carta habilitada */
.carta-habilitada {
    -fx-border-color: red;
    -fx-border-width: 2px;
    -fx-opacity: 1.0;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(195, 0, 255, 0.8), 10, 0.5, 0, 0);
}

/* Estilo para una carta inhabilitada */
.carta-inhabilitada {
    -fx-opacity: 0.8;
    -fx-cursor: default ;
}
.hover-descripcion {
    -fx-background-color: yellow ;
    -fx-text-fill: black ;
    -fx-font-size: 14px ;
}